body {
}

.contain {
  height: 100vh;
  width: 100vw;
  background-image: url('http://screenplay.biz/wp-content/uploads/2016/05/occupy-wall-street.jpg');
  background-size: cover;
  overflow-x: hidden;
}
